@* Bootstrap-optimized header *@
<header class="navbar navbar-light bg-light border-bottom px-3 py-2">
    <!-- Logo linking to Facebook -->
    <a class="navbar-brand d-flex align-items-center" href="https://facebook.com/" target="_blank">
        <img src="https://tungkysie05.id.vn/image/app_icon.png" alt="Logo" style="height: 32px; width: 32px; object-fit: contain;" />
    </a>
    <!-- Centered shop name -->
    <a href="" class="mx-auto fw-bold fs-5 text-center text-decoration-none">
        Tạp Hóa NemeChua
    </a>
    <!-- Login text -->
    <div>
        <a href="#" class="text-primary text-decoration-none">Đăng nhập</a>
    </div>
</header>